body {
    background: #f2f2f2;
    font-family: 'Lato', sans-serif;
    font-size: .9rem;
    height: 100%;
    margin: 0;
}

.app-admin-panel {
    min-height: 100vh;
    background: darkgray;
    display: flex;
    justify-content: center;
}