@font-face { 
  font-family: Motor-Oil; 
  src: url('../../assets/fonts/MotorOil1937M54.woff');
}

.navbar {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.nav-main {
  background: #494964;;
  height: 72px;
  padding: 10px;
}

.navbar-dark {
  color: #fff !important;
}

.navbar-brand {
  font-family: Motor-Oil;
  font-size: 18px;
  letter-spacing: 6px;
  font-weight: 600;
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-nav {
  display: flex;
  flex-direction: row !important;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  margin-top: 0;
  align-items: center;
}

.nav-item {
  margin-left: 1rem;
  margin-bottom: 0;
  border-bottom: 5px solid transparent;
}

.nav-link {
  color: white !important;
  padding: 24px 14px!important;
  margin-left: 10px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 300;
}

.nav-item.active .nav-link {
  border-bottom: 3px solid yellow;
}

.nav-btn {
  color: white;
  border: 1px solid #A3A4B1;
  margin-left: 1rem;

}
.nav-btn:hover {
  border-color: white;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.avatar {
  display: inline-block;
  padding-top: 6px;
  font-weight: 500;
  text-align: center;
  margin-left: .5rem;
  margin-top: 3px;
  width: 40px;
  height: 33px;
  line-height: 1.8;
  background: #718c74;
  color: #fff;
  border-radius: 25px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  padding: 0;
}

.nav-main .nav-link,
.footer .nav-link {
  padding: 24px 14px 24px !important;
  margin-left: 10px;
  text-transform: uppercase;
  font-weight: 300;
}

.navbar-nav .dropdown-menu {
  position: absolute;
  right: 0;
  top: 80%;
  left: auto;
}

a {
  text-decoration: none;
  background-color: transparent;
}
